
<form name="info-form" class="m-t-lg" >
    <md-input-container flex>
        <label>Nombre</label>
        <input placeholder="Ingresa el nombre del torneo" ng-model="tournamentInfo.name">
    </md-input-container>
    <md-input-container flex>
        <label>Escoge la disciplina</label>

    </md-input-container>
    <md-radio-group ng-model="info.discipline" >
        <md-radio-button ng-repeat="(key, discipline) in disciplines"
                         ng-value="key"
                         aria-label="{{key }}" class="md-primary">
            {{key| translate}}
        </md-radio-button>
    </md-radio-group>
    <md-input-container flex>
        <label>Escoge una imagen</label>
    </md-input-container>
    <div class="m-t-xs">
        <div class="thumb-lg">
            <img ng-src="{{getImageUrl()}}"
                 class="img-circle">
        </div>
    </div>



    <div>
        <div class="fileUpload btn btn-primary">
            <span translate="championship.new.image.UPLOAD"></span>
            <input type="file" class="upload"
                   nv-file-select=""
                   uploader="uploader"/>
        </div>
    </div>
    <md-input-container class="m-t-lg">
        <md-button class="md-raised md-primary" ng-disabled="!allowNext();">{{'SETUP_TOURNAMENT' | translate}}</md-button>
    </md-input-container>


</form>
