<form name="userForm">


    <md-input-container flex>
        <label>{{'CHOOSE_EMAIL' | translate}}</label>
        <input ng-model="credentials.username"
               placeholder="{{'PLACEHOLDER_CHOOSE_EMAIL' | translate}}">
    </md-input-container>
    <md-input-container flex>
        <label>{{'CHOOSE_PASSWORD' | translate}}</label>
        <input ng-model="credentials.password" type="password"
               placeholder="{{'PLACEHOLDER_CHOOSE_PASSWORD' | translate}}">
    </md-input-container>

    <section layout="row" layout-align="center center" class="m-t">
        <md-button class="md-raised md-primary md-100" ng-click="login()">
            {{'LOGIN'|translate}}
        </md-button>
    </section>
    <section layout="row" layout-align="center center" class="m-t-xs">
        <a href="signup.html">{{'FORGOT_PASSWORD'|translate}}</a>
    </section>
    <section layout="row" layout-align="center center" class="m-t m-b">
        <md-button class="md-raised md-default-theme" ui-sref="authentication.signup">
            {{'SIGN_UP'|translate}}
        </md-button>
    </section>
</form>
